.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    height: 60px;
    background-color: rgb(8, 48, 158);
    position: sticky;
    top: 0;
    box-shadow: 0px 0px 10px 10px  lightgray;
    z-index: 5;
}

.navBrand{
    display: flex;
    font-family: 'Pacifico', cursive;
    align-items: center;
}
.navBrand span{
    font-weight: bold;
    font-size: 2rem;
    margin: 0.25rem;
}
.searchContainer{
    width: 50%;
    height: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchWrap{
    width: 60%;
    display: flex;
    flex-direction: column;
}
.searchWrap input{
    width: 105%;
    height: 100%;
    border-radius: 5px;
    border: 2px solid lightgray;
    padding: 8px 10px;
}
.searchButton{
    border: 0px;
    background-color: transparent;
}
.searchButton img{
    width: 1.5rem;
    height: 1.5rem;
}

.searchResultsContainer{
    position: absolute;
    top: 55px;
    background-color: white;
    width: 38.5%;
    /* left: 28.5%; */
    max-height: 25vh;
    overflow-y: scroll;
    margin: 1px;
    /* padding: 0.5rem 1rem; */
    border-radius: 0 0 10px 10px;
    box-shadow:  0px 0px 2px 2px lightgray;
}

.searchProduct{
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.searchProduct:hover{
    background-color: lightblue;
}
.searchProductTitle{
    display: inline;
    padding: 0 1rem;
    width: 60%;
}
.authContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 15%;
    height: 40px;
}

.cartIcons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
}

.cartIcons img{
    width: 2rem;
    height: 2rem;
}

.cartIcons span{
    font-weight: 400;
    font-size: 0.9rem;
    text-align: center;
}

.wishList{
    position: absolute;
    top: 70px;
    right: 5px;
    background-color: lightgray;
    max-height: 25vh;
    overflow-y: scroll;
    width: 15%;
    height: 100%;
    z-index: 5;
}
/* Footer */
.footerContainer{
    width: 100%;
    padding: 45px 0;
    text-align: center;
    /* position: absolute; */
    bottom: 0px;
    font-size: 0.75rem;
}

/* Mobile Styles */

.searchContainerMobile{
    width: 100%;
    margin: auto;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0px;
    background-color: rgb(8, 48, 158);
    box-shadow: 0px 0px 10px -10px  lightgray;
    z-index: 3;
}

.searchWrapMobile{
    width: 80%;
}

/* WishList Page */
.wishlistContainer{
    width: 85%;
    margin: 1rem auto;
}

.wishlistMainContainer{
    background-color: white;
    border-radius: 10px;
    padding: 0.25rem;
}

@media screen and (max-width:800px){

    .navbar{
        box-shadow: none;
        position: static;
        justify-content: space-between;
    }

    .navBrand{
        transform: scale(0.75);
        width: 40%;
    }

    .authContainer{
        transform: scale(0.85);
        width: 55%;
    }

    .cartIcons{
        margin: 0.75rem;
    }
}